<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                I am a life long learner. I enjoy digging in and picking apart new concepts and technologies to make
                sense of them from start to finish. What I love about the software industry is that it's always striving
                to be better and improve on itself; which is something I prioritize in my professional and personal
                life.
                <br>
                <br>
                I am passionate about programming, puzzles, and problem solving and enjoy using these passions to make
                people's lives easier. I take pleasure in creating solutions that can eliminate stress and pressure
                points in user's day to day work and life. I've found the best solutions come from brainstorming with a
                team of subject experts and engineers. Collaboration is a key part of any successful project.
                <br>
                <br>
                Currently I'm working at RStudio to help build, improve on, and support the RStudio IDE.
            </p>

        </div>
        <div class="col-sm-6">
            <ul>
                <li>
                    Current Full-Stack Software Engineer on the RStudio IDE team
                </li>
                <li>
                    8 years experience using C++ professionally
                </li>
                <li>
                    Spent 5 years creating financial software with a focus in EFT
                </li>
                <li>
                    Experience implementing agile methodlogies in large-scale projects
                </li>
                <li>
                   Vim and OSS enthusiast
                </li>
                <li>
                    Participated in several leadership and management workshops with Patti Cotton 360° Leadership
                </li>
                <li>
                    Enjoys mentoring and training developers
                </li>
                <li>
                    Sole developer on a visualization research project published and presented at two major conferences
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>
