<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Title</b>. Text
			  </li>
			  <li>
				  <b>Title</b>. Text
			  </li>
			  <li>
				  <b>Title</b>. Text 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Text
  			<li>
          Text
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Text
  			</li>
  			<li>
  			  Text
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
