<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Animal Welfare</b>. 
              I am an avid animal lover and vegan. In my spare time I enjoy spoiling 
              my two cats, volunteering for local animal shelters, and trips to the zoo.
              The majority of my volunteering experience has been through the
              San Diego Humane Society.
			  </li>
			  <li>
				  <b>Music</b>.
              Growing up I learned to play the piano and guitar. Today I love spending
              time discovering new artists, collecting vinyls, and attending local shows.
			  </li>
			  <li>
				  <b>Sports</b>.
              Living an active lifestyle is important to me. I enjoy trying new things:
              yoga, group fitness classes, and practiced Muay Thai for a year, but my long
              term favorites are hiking and running. Born and raised in Massachusetts, I
              am additionally a Boston sports fan.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
#      <h3 style="margin-top:0">Recent Projects</h3>
#		  <ul>
#  			<li>
#          Text
#  			<li>
#          Text
#  			</li>
#  		    </ul>
  		    <h3>Publications and Conferences</h3>
  		    <ul>
  			<li>
             Gousie, M.B., Grady, J., and Branagan, M.
             Visualizing Trends and Clusters in Ranked Time-Series Data.
             In Visualization and Data Analysis 2014 (San Francisco, 2014),
             P. C. Wong, D.L. Kao, M.C. Hao, and C. Chen, Eds., vol. 9017, IS&T/SPIE,
             pp. 90710f-1 -- 90710f-12.
  			</li>
  			<li>
  	     Grady, J., Gousie, M., and Branagan, M. 
             Visualizing the Hollywood Pantheon. 
             Conference of the International Visual Sociology Association (IVSA), 
             University of London, July, 2013.
  			</li>
  			<li>
             Grady, J. and Gousie, M. 
             The Social Composition of an Imaginary World: The Star Village in Hollywood, 1927-2013.
             Presented at the International Visual Sociology Association (IVSA) Annual Conference,
             Tinos, Greece, June, 2015.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
